{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="modules">
        {% for module in modules %}
            <div class="module">
                <span>{{ module.intitule }}</span>
                <span> - </span>
                <span>{{ module.formateur }}</span>
                <span class="star-rating">
						{% for index in 1..5 %}
                            <label for="rate-1" style="--i:{{ index }}">
{#							<input type="radio" name="rating" id="rate-{{ index }}" value="{{ index }}">#}
							<a href="{{ path('home_modif_etoile', {'etoile': index, 'module': module.id }) }}">
								<i class="fa-solid fa-star {{ (module.note >= index) ? 'jaune' : '' }}"></i>
							</a>
							</label>
                        {% endfor %}
	            </span>
            </div>
        {% endfor %}
    </div>
{% endblock %}
